* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header{
    color: white;
    background-color: rgb(17, 6, 134);
    padding: 16px 0;
    display: flex;
    border-bottom: 16px solid  rgb(14, 5, 107);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form{
    background-color: rgb(187, 187, 187);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

#recolher-form {
    display: none;
}

#bt-cancel-inserir, #bt-cancel-retirar {
    background-color: rgb(151, 0, 0);
    border: 2px solid rgb(125, 0, 0);;
}

#bt-cancel-inserir:hover, #bt-cancel-retirar:hover {
    background-color: rgb(125, 0, 0);
    border: none;
}

input, button{
    padding: 8px;
}

button{
    background-color: rgb(24, 10, 184);
    border-radius: 8px;
    border: 2px solid rgb(14, 5, 107);
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(14, 5, 107);
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    overflow-y: hidden;
    position: relative;
    height: 216px;
}

ul li img {
    width: 100%;
    cursor: default;
}

.links-imgs {
    text-decoration: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all ease .3s;
}

ul li:hover .links-imgs{
    opacity: 1;
}